$eigengrau: #16161d;
$blanco: #ffffff;
$negro: #000000;
$negro2: #222222;
$negro4: #444444;
$gris6: #666666;
$gris8: #888888;
$grisa: #aaaaaa;
$grisb: #bbbbbb;
$grisc: #cccccc;
$grisd: #dddddd;
$grise: #eeeeee;
$sombra1: rgba(0, 0, 0, .14);
$sombra2: rgba(0, 0, 0, .12);
$sombra3: rgba(0, 0, 0, .2);

$lila: #9c27b0;
$morado: #673ab7;
$indigo: #3f51b5;
$azul: #2196f3;
$celeste: #03a9f4;
$cyan: #00bcd4;
$turquesa: #009688;
$verde: #4caf50;
$kiwi: #8bc34a;
$lima: #cddc39;
$amarillo: #ffeb3b;
$ambar: #ffc107;
$naranja: #ff9800;
$tomate: #ff5722;
$rojo: #f44336;
$rosado: #e91e63;
$magenta: #e5097f;

//Colores vivos
$lila-vivo: #aa00ff;
$morado-vivo: #6200ea;
$indigo-vivo: #304ffe;
$azul-vivo: #2962ff;
$celeste-vivo: #0091ea;
$cyan-vivo: #00b8d4;
$turquesa-vivo: #00bfa5;
$verde-vivo: #00c853;
$kiwi-vivo: #64dd17;
$lima-vivo: #aeea00;
$amarillo-vivo: #ffd600;
$ambar-vivo: #ffab00;
$naranja-vivo: #ff6d00;
$tomate-vivo: #ff3d00;
$rojo-vivo: #ff1744;
$rosado-vivo: #f50057;

//colores pastel
$lila-pastel: #ce93d8;
$morado-pastel: #b39ddb;
$indigo-pastel: #9fa8da;
$azul-pastel: #90caf9;
$celeste-pastel: #81d4fa;
$cyan-pastel: #80deea;
$turquesa-pastel: #80cbc4;
$verde-pastel: #a5d6a7;
$kiwi-pastel: #c5e1a5;
$lima-pastel: #e6ee9c;
$amarillo-pastel: #fff59d;
$ambar-pastel: #ffe082;
$naranja-pastel: #ffcc80;
$tomate-pastel: #ffab91;
$rojo-pastel: #ef9a9a;
$rosado-pastel: #f48fb1;

//colores opacos
$lila-opaco: #4a148c;
$morado-opaco: #311b92;
$indigo-opaco: #1a237e;
$azul-opaco: #0d47a1;
$celeste-opaco: #01579b;
$cyan-opaco: #006064;
$turquesa-opaco: #004d40;
$verde-opaco: #1b5e20;
$kiwi-opaco: #33691e;
$lima-opaco: #827717;
$amarillo-opaco: #f57f17;
$ambar-opaco: #ff6f00;
$naranja-opaco: #e65100;
$tomate-opaco: #bf360c;
$rojo-opaco: #b71c1c;
$rosado-opaco: #880e4f;
